FFFFFFFFFFFFFFFFFFFFFFDDDDDDDDDDDDD          
F::::::::::::::::::::FD::::::::::::DDD       
F::::::::::::::::::::FD:::::::::::::::DD     
FF::::::FFFFFFFFF::::FDDD:::::DDDDD:::::D    
  F:::::F       FFFFFF  D:::::D    D:::::D   
  F:::::F               D:::::D     D:::::D  
  F::::::FFFFFFFFFF     D:::::D     D:::::D   Hostname: {{ ansible_fqdn }}
  F:::::::::::::::F     D:::::D     D:::::D   IP: {{ ansible_default_ipv4.address }}
  F:::::::::::::::F     D:::::D     D:::::D  
  F::::::FFFFFFFFFF     D:::::D     D:::::D   OS: {{ ansible_distribution }} {{ ansible_distribution_version }}
  F:::::F               D:::::D     D:::::D   Kernel: {{ ansible_kernel }} {{ ansible_machine }}
  F:::::F               D:::::D    D:::::D   
FF:::::::FF           DDD:::::DDDDD:::::D    
F::::::::FF           D:::::::::::::::DD     
F::::::::FF           D::::::::::::DDD       
FFFFFFFFFFF           DDDDDDDDDDDDD          


